<h1>Edit Approval</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.approval_path(@conn, :update, @approval)) %>

<span><%= link "Back", to: Routes.approval_path(@conn, :index) %></span>
