<h1>Show Tag</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @tag.name %>
  </li>

  <li>
    <strong>Icon:</strong>
    <%= @tag.icon %>
  </li>

  <li>
    <strong>Colour:</strong>
    <%= @tag.colour %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.tag_path(@conn, :edit, @tag) %></span>
<span><%= link "Back", to: Routes.tag_path(@conn, :index) %></span>
